apiVersion: quota.openshift.io/v1
kind: ClusterResourceQuota
metadata:
  name: "clusterquota-{{ item.metadata.name | regex_replace('(.+?)@.*', '\\1') }}"
  labels:
    applied_userquota: "{{ meta.name }}"
spec:
  selector:
    annotations:
      openshift.io/requester: "{{ item.metadata.name }}"
    labels: null
  quota:
    {{ default.quota|to_yaml }}
